body {
    background-color : black;
    color : #F5F5F5;


}
h3 {
    margin-right: 50%;
    margin-left: 50%;

}
img {
    margin-right: 50%;
    margin-left: 50%;

}
p{
    margin-right: 30%;
    margin-left: 30%;
}